/* Home Properties Section */
.home-properties-section {
  background-color: #f8f9fa;
}

.properties-wrapper {
  padding: 0;
  position: relative;
  background: #be4600;
  border-radius: 10px;
}

/* Override header styles for home page */
.properties-wrapper .listing-header {
  border-color: #ffffff;
  color: inherit;
  padding: 0;
  margin: 0;
}

.properties-wrapper .listing-header h1,
.properties-wrapper .listing-header p {
  display: none;
}

.properties-wrapper .quick-search {
  margin-top: 10px;
  background: #be4600;
  padding: 45px 45px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  margin-bottom: 40px;
  flex: 1;

}

/* Responsive */
@media (max-width: 768px) {
  .home-properties-section {
    padding: 20px 0;
  }
}
