/* Home Properties Section */
.home-properties-section {
  background-color: #f8f9fa;
}

.properties-wrapper {
  padding: 0;
  position: relative;
  border-radius: 10px;
}

/* Override header styles for home page */
.properties-wrapper .listing-header {
  border-color: #ffffff;
  color: inherit;
  padding: 0;
  margin: 0;
}

.properties-wrapper .listing-header h1,
.properties-wrapper .listing-header p {
  display: none;
}

.properties-wrapper .quick-search {
  position: relative;
  top: -25px;
  padding: 10px 45px;
  border-radius: 10px;
  margin-bottom: 40px;
  flex: 1;
  background: linear-gradient(to bottom, #45b6b0, #b2f3e8);

}

/* Responsive */
@media (max-width: 768px) {
  .home-properties-section {
    padding: 20px 0;
  }
}

@media (max-width: 768px) {
  .home-properties-section {
    padding: 20px 0;
  }
}