.featured .box {
  box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
  border-radius: 6px;
  text-align: center;
  padding: 30px;
  cursor: pointer;
}
.featured .box:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  transition: all 0.3s ease-out;
  scale: 1.05;

}
.featured img {
  width: 65px;
  height: 65px;
  margin: auto;
}
